.container[b-q0d6wfq092] {
    display: flex;
    padding: 6px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
}

.image-wrapper[b-q0d6wfq092] {
    width: 150px;
    text-align: center;
}

.image[b-q0d6wfq092] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.details[b-q0d6wfq092] {
    flex-grow: 1;
    padding: 6px;
}

.order-price[b-q0d6wfq092] {
    font-weight: 600;
    font-size: 1.2em;
    text-align: right;
}
